@import "./colors.css";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.login-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-dark);
  overflow: hidden; /* Ensure no overflow */
}

.left-side {
  flex: 1;
  background-color: var(--primary-color);
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right-side {
  flex: 1;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo img {
  max-width: 150px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.login-button {
  background-color: var(--accent-color);
  color: var(--text-dark);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--primary-color);
  color: var(--text-light);
}
